<h1>New book</h1>

<%= render "form", book: @book %>

<br>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to Home", root_path %>
</div>
